@use '@/styles/variables';
@use '@/styles/mixins' as*;

.projects {
   position: relative;

   &__cards {
      display: grid;
      justify-content: center;
      position: relative;
      grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
      gap: toRem(30);

   }

   &__wrapper {
      @include adaptiveValue("padding-bottom", 40, 20);

   }

   &__title {
      display: flex;
      justify-content: center;
      @include adaptiveValue("padding-top", 60, 40);
   }

   &__background {
      background: $gradient;
      width: 100%;
      height: 100%;
   }

   @media (min-width: toRem(1025)) {
      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 20%;
         background: $gradient;
         bottom: 0;
         z-index: -1;
      }
   }



}