 @font-face {
    font-family: 'IBM Plex Sans';
    src: url('../assets/fonts/IBMPlexSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
 }


 @font-face {
    font-family: 'Onest';
    src: url('../assets/fonts/Onest-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
 }

 @font-face {
    font-family: 'Onest';
    src: url('../assets/fonts/Onest-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
 }

 @font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
 }

 @font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
 }