@use '@/styles/variables';
@use '@/styles/mixins' as*;

.skills {
   background: $primary-color;
   color: $dark-text;
   font-family: $font-text;

   &__container {
      @include adaptiveValue("padding-block", 60, 40);
   }

   &__cards {
      display: grid;
      @include adaptiveValue("gap", 25, 10);
      grid-auto-rows: 1fr;
      justify-items: center;
      grid-template-columns: 1fr;

      @media (min-width: toRem(768)) {
         grid-template-columns: minmax(250px, 300px) minmax(250px, 300px);
         justify-content: center;
      }

      @media (min-width: toRem(1128)) {

         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         justify-content: center;

      }
   }

   &__background {
      background: $gradient;
      color: white;
   }
}