@use '@/styles/variables';
@use '@/styles/mixins' as*;

.project {

   &__card {
      font-family: $font-text;
      display: flex;
      flex-direction: column;
      transition: all 0.5s ease;
      cursor: pointer;
      overflow: hidden;
      height: 100%;
      gap: toRem(10);
      border-radius: 20px;
      @include adaptiveValue("padding", 22, 10);
      box-shadow:
         0 4px 6px rgba(0, 0, 0, 0.1),
         0 1px 3px rgba(0, 0, 0, 0.08);


      &:hover {
         transform: translateY(-10px)
      }

      &:hover .project__arrow {
         animation: arrow-bounce 0.4s ease;
      }



      @media(min-width: toRem(1025)) {
         background: #ffffff;
      }

   }

   &__card-title {

      font-weight: 600;

   }

   &__description {
      flex: 1;
   }

   &__img {
      object-fit: cover;
      aspect-ratio: 500 / 260;
      cursor: pointer;
      transition: all 0.5s ease;

   }

   &__arrow-wrapper {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

   }
}

@keyframes arrow-bounce {
   0% {
      transform: translateX(0);
   }

   50% {
      transform: translateX(5px);
   }

   100% {
      transform: translateX(0);
   }


   // назад
}