@use '@/styles/variables';
@use '@/styles/mixins' as*;

.slider {
   &-wrapper {
      position: relative;
      width: 100%;

   }

   &-card {
      position: relative;
      min-height: toRem(80);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: auto;
      max-width: 22em;
      $border: 2px;
      color: #FFF;
      background: $primary-color;
      background-clip: padding-box;
      border: solid $border transparent;
      border-radius: 1em;
      padding: toRem(10);

      &::before {
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: -1;
         margin: -$border;
         border-radius: inherit;
         background: $gradient;
      }
   }
}

.custom-prev,
.custom-next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   // background: #fff;
   //  border: 1px solid #ccc;
   padding: 10px 15px;
   cursor: pointer;
   border-radius: 50%;
   z-index: 10;
   color: #FFF;
   font-size: toRem(22);

}

.custom-prev {
   left: -38px;

   @media (min-width: $mobile-rem) {
      left: -50px;
   }
}

.custom-next {
   right: -38px;

   @media (min-width: $mobile-rem) {
      right: -50px;
   }
}

.swiper-slide-next .slider-card {
   background: $gradient;
   transition: 0.3s;
   background-clip: padding-box;
}

.swiper-slide-next .slider-card::before {
   background: transparent;
}